body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.page {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: #E5E5E5;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.content {
  width: 1280px;
  height: 650px;
  padding: 43px 86px 28px 45px;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 2px solid #518E6A;
}

.content_h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
}

.content_input {
  width: 275px;
  height: 42px;
  padding-left: 10px;
  box-sizing: border-box;
}

.content_button {
  cursor: pointer;
  border-radius: 2px;
  border: 0;
  color: #fff;
  background-color: #518E6A;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  width: 150px;
  height: 42px;
  box-sizing: border-box;
}

.content_span {
  font-size: 16px;
  line-height: 25px;
}

.content_span_a {
  cursor: pointer;
  color: #38b9d6;
  text-decoration: none;
}

.content_span_a:hover {
  text-decoration: underline;
}

table {
  margin-top: 40px;
  width: 100%;
}

th, td {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
}

.line {
  position: relative;
  top: 70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}


.link:hover {
  color: #3072C4;
  background-color: #F2F2F2;
}

footer {
  margin-top: 20px;
}

.footer_div {
  position: relative;
  padding-left: 30px;
}

footer img {
  position: absolute;
  top: 0;
  left: 0;
}

.footer_text {
  color: #A1A1A1;
  font-size: 14px;
}

.footer_text_1 {
  font-weight: 900;
  font-size: 16px;
}

/* modal */

.modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal_inner {
  width: 500px;
  height: 620px;
  background-color: #fff;
  position: relative;
}

.modal_content {
  padding: 25px;
  position: relative;
}

.modal_content h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
}

.close {
  position: absolute;
  font-size: 30px;
  right: 40px;
  top: 20px;
  cursor: pointer;
  color: #7a7a7a;
}

.close:hover {
  color: #333;
}

.modal_content_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.modal_content_input span {
  width: 164px;
  font-size: 16px;
  line-height: 25px
}

.page_input {
  width: 269px;
  height: 38px;
  box-sizing: border-box;
}

.input-short {
  width: 130px;
}

.modal_inner_footer {
  background-color: #E9E9E9;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal_inner_footer_content {
  padding-top: 20px;
  padding-left: 30px;
}

.footer_content_button {
  cursor: pointer;
  margin-left: 10px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  width: 110px;
  padding: 9px 15px;
  height: 42px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}


